.pfp_container {
  min-height: 3.5rem;
  min-width: 3.5rem;
  height: 3.5rem;
  width: 3.5rem;

  height: 100%;
  aspect-ratio: 1/1;

  border-radius: 100%;

  border: 2px solid var(--secondary-color);

  overflow: hidden;
}

.pfp {
  width: 100%;
  height: 100%;
}
